server:
  port: 8001

eureka:
  instance:
    hostname: localhost
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:7000/eureka/

spring:
  application:
    name: instagram-search-consumer